<div class="container form-style">
    <br>
    <h2>Change password for user {{person.fullname}}</h2>
    <form action="/changepassword/{{person.id}}" method="post">
    <p><span style="color:red">*</span> <span class="required-field">Required</span></p>
        <div class="form-group">
            <label>New password <span style="color:red">*</span></label>
            <input type="password" class="form-control" name="password1" required>
        </div>
        <div class="form-group">
            <label>Re enter the new password <span style="color:red">*</span></label>
            <input type="password" class="form-control" name="password2" required>
        </div>
        <button type="submit" class="btn btn-success">Change password</button>
        <a href="/users" class="btn btn-danger">Cancel</a>
    </form>
</div>