<div class="container form-style center">
    <br>
    <h2 class="center">Are you sure you want to delete this material?</h2>
    <h6>Details:</h6>
    <br>
    <b style="color: black;">Category</b>
    <p>{{material.category}}</p>
    <b style="color: black;">Description</b>
    <p>{{material.description}}</p>
    <b style="color: black;">Rate</b>
    <p>${{material.rate}}</p>
    <form action="/materials/delete/{{material.id}}" method="POST">
        <button type="submit" class="btn btn-success">Delete</button>
        <a href="/materials/" class="btn btn-danger">Cancel</a>
    </form>
</div>