body{
  background-color: whitesmoke;
}

#navcolor {background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.center {
    text-align: center;
}

.card {
    margin: 15px;
}

.fa-edit{
  color: orange;
}

.fa-edit:hover{
  color: #c98e1a;
}

.fa-trash-alt{
  color: red;
}

.fa-trash-alt:hover{
  color: darkred;
}

.img-fluid{
  width: 800px;
  height: 340px;
}

.required-field{
	font-style: italic;
	font-size: 12px;
	color: red;
}

.clarification{
  font-style: italic;
	font-size: 12px;
	color: darkgray;
}

.rate{
  width: 90px;
}

.qty{
  width: 60px;
}

.text{
  width: 100px;
}

.amount{
  width: 140px;
}

.lnr{
  color: gray;
}

.lnr:hover{
  color: black;
}

@media(min-width:480px){
  .form-style{
    width: 75%;
  }
}

@media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
    .form-style{
      width: 50%;
    } 
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
  }

